body {
  background-color: black;
  color: orange;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: darkorange;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  color: black;
  font-weight: bold;
}

h1 {
  color: orange;
  text-shadow: 2px 2px 5px red;
}

img {
  width: 200px;
  margin: 20px;
}

section {
  background-color: #222;
  border: 2px solid orange;
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
}

h2 {
  color: gold;
}

footer {
  background-color: darkorange;
  color: black;
  padding: 10px;
  margin-top: 30px;
}