body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFECD7;
  height: 100vh;
}

.card {
    border-color: #004E63;
    background-color: #008DB1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 8px;
    border-radius: 15px;
    padding: 20px 40px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    height: fit-content;
    flex-wrap: wrap;
}
.prophet-img{
    border-style: solid;
    border-width: 5px;
    border-color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: auto;
    height: auto;
}
.quote {
    color: #FFD783;
    font-family: "Brush Script MT", "Nanum Brush Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 1.2em;
}

.dates {
    color: #FFFFFE;
    font-family: Helvetica;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.title {
    color: #FFFFFE;
    font-family: Helvetica;
    font-size: 1.8em;
}
a {
    font-family: Helvetica;
    color: #91E4FB;
    font-size: 1em;
}